# dependencies
node_modules/

# build artifacts
build/
dist/

# test coverage
coverage/

# environment variables
.env
.env.local

# editor and IDE files
.idea/
.vscode/

# log files
*.log

# React Router specific files
.react-router/